* {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 100vh;
}
/* 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: lightgray;
  padding: 8px;
}
.header1 {
  display: flex;
  gap: 20px;
}

.header2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

video {
  position: fixed;
  width: 100%;
  height: 90vh;
}

.home {
  color: #00cc99;
}

button {
  background-color: #00cc99;
  border-radius: 80px;
  border-color: #00cc99;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: white;
}

.movie {
}

.content {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
}

.list-row {
  border: 1px solid rgb(243, 165, 29);
  display: flex;
  padding: 50px;
  overflow-x: scroll;
}

.pic img {
  width: 100px;
  height: 100px;
} */
