.parent{display: flex; flex-direction: column;
 justify-content:space-between; gap: 50px; height: 500px;  }
.child1{ display: flex;
    border: 1px solid black;}
    .child2 {
        display: flex;
    border: 1px solid black;}
    .child3 {
        display: flex;
    border: 1px solid black;flex-direction: row;}
    .child4 {
        display: flex;
    border: 1px solid black;flex-direction: row;}
    .child5 {
        display: flex;
    border: 1px solid black;flex-direction: row;
flex: 15px;}
