body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f9fc;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}
input:focus,
textarea:focus {
  background-color: #007bff;
}

button.full-width {
  display: block;
  text-align: center;
  width: 100%;
}

a,
button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
}
