* {
  margin: 0;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "sideNav content content content"
    "sideNav content content content"
    "sideNav content content content"
    "sideNav footer footer footer";
  gap: 10px;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: blue;
}
.nav {
  grid-area: sideNav;
  background-color: blueviolet;
}
.main {
  grid-area: content;
  background-color: brown;
}
.footer {
  grid-area: footer;
  background-color: coral;
}
