* {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  border: 2px solid #de3518;
  gap: 10px;
  padding: 10px;
}

.item-left {
  width: 200px;
  height: 500px;
  background-color: brown;
}

.item-right {
  padding: 50px;
  background-color: brown;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.item-right-one {
  background-color: rgb(251, 225, 225);
  width: 150px;
  height: 40px;
}

.item-right-two {
  background-color: rgb(251, 225, 225);
  width: 150px;
  height: 300px;
}
